<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= category_display.name %></h1>
    <p><%= category_display.description %></p>
  </body>
</html>
