<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (let i = 0; i < item_list.length; i++) { %>
      <div class="item-entry">
        <a href=<%= item_list[i].url %>>
          <%= item_list[i].name %>
        </a>
      </div>
    <% } %>
  </body>
</html>
